/*
Error: Invalid GBK character "\xE6"
        on line 18 of C:\Users\zyhua\Documents\GitHub\frozenui\sass\component\list.scss

13: 	}
14: }
15: .ui-list-pure > li{
16: 	display: block;
17: }
18: /*文字列表*\/
19: .ui-list-text > li,
20: .ui-list-pure > li {
21: 	position: relative;	
22: 	padding-top: $txt-padding-top;
23: 	padding-bottom: $txt-padding-bottom;

Backtrace:
C:\Users\zyhua\Documents\GitHub\frozenui\sass\component\list.scss:18
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:896:in `check_sass_encoding'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE6\"\A         on line 18 of C:\Users\zyhua\Documents\GitHub\frozenui\sass\component\list.scss\A \A 13: 	}\A 14: }\A 15: .ui-list-pure > li{\A 16: 	display: block;\A 17: }\A 18: /*文字列表*/\A 19: .ui-list-text > li,\A 20: .ui-list-pure > li {\A 21: 	position: relative;	\A 22: 	padding-top: $txt-padding-top;\A 23: 	padding-bottom: $txt-padding-bottom;"; }
