@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont-full.ttf") format("truetype"); }
.ui-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px; }

.ui-icon-add:before {
  content: "\e615"; }

.ui-icon-more:before {
  content: "\e616"; }

.ui-icon-arrow:before {
  content: "\e600"; }

.ui-icon-return:before {
  content: "\e614"; }

.ui-icon-checked:before {
  content: "\e601"; }

.ui-icon-checked-s:before {
  content: "\e602"; }

.ui-icon-info-block:before {
  content: "\e603"; }

.ui-icon-success-block:before {
  content: "\e604"; }

.ui-icon-warn-block:before {
  content: "\e605"; }

.ui-icon-info:before {
  content: "\e606"; }

.ui-icon-success:before {
  content: "\e607"; }

.ui-icon-warn:before {
  content: "\e608"; }

.ui-icon-next:before {
  content: "\e617"; }

.ui-icon-prev:before {
  content: "\e618"; }

.ui-icon-tag:before {
  content: "\e60d"; }

.ui-icon-tag-pop:before {
  content: "\e60f"; }

.ui-icon-tag-s:before {
  content: "\e60e"; }

.ui-icon-warn-lg:before {
  content: "\e609"; }

.ui-icon-close:before {
  content: "\e60a"; }

.ui-icon-close-progress:before {
  content: "\e619"; }

.ui-icon-close-page:before {
  content: "\e60b"; }

.ui-icon-emo:before {
  content: "\e61a"; }

.ui-icon-delete:before {
  content: "\e61b"; }

.ui-icon-search:before {
  content: "\e60c"; }

.ui-icon-order:before {
  content: "\e61c"; }

.ui-icon-news:before {
  content: "\e61d"; }

.ui-icon-personal:before {
  content: "\e61e"; }

.ui-icon-dressup:before {
  content: "\e61f"; }

.ui-icon-cart:before {
  content: "\e620"; }

.ui-icon-history:before {
  content: "\e621"; }

.ui-icon-wallet:before {
  content: "\e622"; }

.ui-icon-refresh:before {
  content: "\e623"; }

.ui-icon-thumb:before {
  content: "\e624"; }

.ui-icon-file:before {
  content: "\e625"; }

.ui-icon-hall:before {
  content: "\e626"; }

.ui-icon-voice:before {
  content: "\e627"; }

.ui-icon-unfold:before {
  content: "\e628"; }

.ui-icon-gototop:before {
  content: "\e629"; }

.ui-icon-share:before {
  content: "\e62a"; }

.ui-icon-home:before {
  content: "\e62b"; }

.ui-icon-pin:before {
  content: "\e62c"; }

.ui-icon-star:before {
  content: "\e62d"; }

.ui-icon-bugle:before {
  content: "\e62e"; }

.ui-icon-trend:before {
  content: "\e62f"; }

.ui-icon-unchecked:before {
  content: "\e610"; }

.ui-icon-unchecked-s:before {
  content: "\e611"; }

.ui-icon-play-active:before {
  content: "\e630"; }

.ui-icon-stop-active:before {
  content: "\e631"; }

.ui-icon-play:before {
  content: "\e632"; }

.ui-icon-stop:before {
  content: "\e633"; }

.ui-icon-set:before {
  content: "\e634"; }

.ui-icon-add-group:before {
  content: "\e635"; }

.ui-icon-add-people:before {
  content: "\e636"; }

.ui-icon-pc:before {
  content: "\e637"; }

.ui-icon-scan:before {
  content: "\e638"; }

.ui-icon-svip:before {
  content: "\e613"; }

.ui-icon-vip:before {
  content: "\e612"; }

.ui-icon-male:before {
  content: "\e639"; }

.ui-icon-female:before {
  content: "\e63a"; }

.ui-icon-collect:before {
  content: "\e63b"; }

.ui-icon-commented:before {
  content: "\e63c"; }

.ui-icon-like:before {
  content: "\e63d"; }

.ui-icon-liked:before {
  content: "\e63e"; }

.ui-icon-comment:before {
  content: "\e63f"; }

.ui-icon-collected:before {
  content: "\e640"; }
