@charset "UTF-8";

// 参考 https://github.com/fayching/ionic/blob/master/scss/ionic.scss

@import

// Variables
    "base/mixin",
    "base/variable",

//  基础样式    
    "base/reset",
    "base/type",
    "base/icon",

// 辅助类    
    "util/border",
    "util/arrowlink",
    "util/nowrap",
    "util/placehold",
    "util/grid",
    "util/layout",

// UI 组件
    "component/badge",
    "component/reddot",
    "component/avatar",
    "component/label",
    "component/tag",
    "component/btn",
    "component/btn-group",
    "component/tips", 
    "component/tips-news",
    "component/tooltips", 
    "component/table",
    "component/list",
    "component/notice",
    "component/form",
    "component/checkbox",
    "component/switch",
    "component/radio",
    "component/select",
    "component/input",
    "component/searchbar",
    "component/slider", 
    "component/panel",
    "component/progress",
    "component/tab",
    "component/loading",
    "component/poptips", 
    "component/dialog",
    "component/selector",
    "component/actionsheet";

