@import "vip/ui-icon-qq";
@import "vip/ui-icon-qqlevel";
@import "vip/ui-icon-viplevel";
@import "vip/ui-tag";
@import "vip/ui-btn-vip";
@import "vip/ui-tooltips-vip";
@import "vip/ui-selector";
