.ui-loading-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 40px; }

.ui-loading {
  width: 20px;
  height: 20px;
  display: block;
  background: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/loading_sprite.png?_bid=256);
  background-size: auto 20px;
  -webkit-animation: rotate 1s steps(12) infinite; }

.ui-loading-bright {
  width: 37px;
  height: 37px;
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/loading_sprite_white.png?_bid=256);
  background-size: auto 37px;
  -webkit-animation: rotate2 1s steps(12) infinite; }

.ui-loading-wrap .ui-loading {
  margin: 10px; }

@-webkit-keyframes rotate {
  from {
    background-position: 0 0; }

  to {
    background-position: -240px 0; } }
@-webkit-keyframes rotate2 {
  from {
    background-position: 0 0; }

  to {
    background-position: -444px 0; } }
