@charset "utf-8";

/*图标基类*/
.ui-icon-vip {
    display:inline-block;
    height:1px;
    position: relative;
    vertical-align: middle;
    &:after {
        overflow:hidden;
        content:"\0020";
        display:block;
        width:100%;
        background-repeat:no-repeat;
        position: absolute;
        line-height:100px;
    }
}

/*超Q图标*/
.ui-icon-mq {
    width: 28px;
    &:after {
        height: 28px;
        top: -15px;
        -webkit-background-size: 28px auto;
    }
}
@each $item in vip, yearvip {
    .ui-icon-mq-#{$item},
    .ui-icon-mq-#{$item}-off {
        @extend .ui-icon-vip;
        @extend .ui-icon-mq;
    }
    .ui-icon-mq-#{$item}:after {
        background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/mq_#{$item}.png);
    }

    .ui-icon-mq-#{$item}-off:after {
        background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/mq_#{$item}.png);
    }
}

/*等级图标*/
@each $item in vip, svip {
    @each $type in level, cardlevel, year,yearcardlevel {
        .ui-icon-#{$item}-#{$type} {
            @extend .ui-icon-vip;
        }
    }
}

/*宽度与背景size*/
.ui-icon-vip-level {
    width:50px;
    &:after {
        -webkit-background-size: 50px auto;
    }
}
.ui-icon-vip-cardlevel {
    width:29px;
    &:after {
        -webkit-background-size: auto 13px;
    }
}
.ui-icon-vip-year {
    width:59px;
    &:after {
        -webkit-background-size: 59px auto;
    }
}
.ui-icon-vip-yearcardlevel {
    width:38px;
    &:after {
        -webkit-background-size: auto 13px;
    }
}
.ui-icon-svip-level {
    width:57px;
    &:after {
        -webkit-background-size: 57px auto;
    }
}
.ui-icon-svip-cardlevel {
    width:35px;
    &:after {
        -webkit-background-size: auto 13px;
    }
}
.ui-icon-svip-year {
    width:66px;
    &:after {
        -webkit-background-size: 66px auto;
    }
}
.ui-icon-svip-yearcardlevel {
    width:45px;
    &:after {
        -webkit-background-size: auto 13px;
    }
}

.ui-icon-vip-level:after, .ui-icon-vip-year:after {
    height:24px;
    top:-15px;
}
.ui-icon-svip-level:after, .ui-icon-svip-year:after {
    height:26px;
    top:-17px;
}
.ui-icon-vip-cardlevel:after, .ui-icon-svip-cardlevel:after,.ui-icon-vip-yearcardlevel:after,.ui-icon-svip-yearcardlevel:after {
    height:13px;
    top:-7px;
}


/*正常状态图标*/
@for $i from 1 through 7 {
    //普通会员等级图标
    .ui-icon-vip-level.level#{$i}:after {background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_#{$i}.png)} 
    
    //普通会员铭牌等级图标
    .ui-icon-vip-cardlevel.level#{$i}:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_c_#{$i}.png)}
    
    //普通年费会员铭牌等级图标
    .ui-icon-vip-yearcardlevel.level#{$i}:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_c_#{$i}.png)}


    
    //年费会员等级图标
    .ui-icon-vip-year.level#{$i}:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_#{$i}.png)}

    //超级会员等级图标
    .ui-icon-svip-level.level#{$i}:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_#{$i}.png)}

    //超级会员铭牌等级图标
    .ui-icon-svip-cardlevel.level#{$i}:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_c_#{$i}.png)}

    //年费超级会员等级图标
    .ui-icon-svip-year.level#{$i}:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_#{$i}.png)}
    
    //年费超级会员铭牌等级图标
    .ui-icon-svip-yearcardlevel.level#{$i}:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_c_#{$i}.png)}

}

/*过期状态图标*/
@for $i from 1 through 7 {
    //普通会员等级图标
    .ui-icon-vip-level.level#{$i}-off:after {background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_#{$i}.png)} 
    
    //普通会员铭牌等级图标
    .ui-icon-vip-cardlevel.level#{$i}-off:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_c_#{$i}.png)}
    
    //普通年费会员铭牌等级图标
    .ui-icon-vip-yearcardlevel.level#{$i}-off:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_c_#{$i}.png)}

    //年费会员等级图标
    .ui-icon-vip-year.level#{$i}-off:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_#{$i}.png)}

    //超级会员等级图标
    .ui-icon-svip-level.level#{$i}-off:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_#{$i}.png)}

    //超级会员铭牌等级图标
    .ui-icon-svip-cardlevel.level#{$i}-off:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_c_#{$i}.png)}

    //年费超级会员等级图标
    .ui-icon-svip-year.level#{$i}-off:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_#{$i}.png)}
    
     //年费超级会员铭牌等级图标
    .ui-icon-svip-yearcardlevel.level#{$i}-off:after { background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_c_#{$i}.png)}
    
}










