
/* 点击态 */
.ui-list-link li:active,li.ui-list-item-link:active,.ui-list-link li:active .ui-border-t,li.ui-list-item-link:active .ui-border-t,.ui-list-link li:active + li.ui-border-t,.ui-list-link li:active + .ui-border-t,li.ui-list-item-link:active + li.ui-border-t,li.ui-list-item-link:active + .ui-border-t{
  background-image:none;
  border-top:1px solid #f8f9fa;
}
.ui-list li:first-child:active {
  border: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .ui-list-link li:active,li.ui-list-item-link:active,.ui-list-link li:active .ui-border-t,li.ui-list-item-link:active .ui-border-t,.ui-list-link li:active + li.ui-border-t,.ui-list-link li:active + .ui-border-t,li.ui-list-item-link:active + li.ui-border-t,li.ui-list-item-link:active + .ui-border-t{
    background-image:none;
  }
}
/* 圆角*/
.ui-btn:active,.ui-btn.active,.ui-btn-primary:active,.ui-btn-primary.active,.ui-btn-danger:active,.ui-btn-danger.active,.ui-btn.disabled,.ui-btn.disabled:active,.ui-btn.disabled.active{
  background-clip: padding-box;
}

.ui-reddot,.ui-reddot-border,.ui-reddot-s{
  background-clip: padding-box;
}

.ui-btn-group{
	background-color: #fff;
}