@charset "utf-8";

/*图标基类*/
.ui-icon-vip {
    display:inline-block;
    height:1px;
    position: relative;
    vertical-align: middle;
    span {
        overflow:hidden;
        display:block;
        width:100%;
        background-repeat:no-repeat;
        position: absolute;
        line-height:100px;
    }
}
/*超Q图标*/
.ui-icon-mq {
    @extend .ui-icon-vip;
    width: 28px;
    span {
        height: 28px;
        top: -15px;
        -webkit-background-size: 28px auto;
    }
}


/*等级图标*/
@each $item in vip, svip, yearvip,yearsvip {
    @each $type in level,level-s {
        .ui-icon-#{$item}#{$type} {
            @extend .ui-icon-vip;
        }
    }
}

/*宽度与背景size*/
.ui-icon-viplevel {
    width:50px;
    span {
        -webkit-background-size: 50px auto;
    }
}
.ui-icon-viplevel-s {
    width:31px;
    span {
        -webkit-background-size: auto 13px;
    }
}
.ui-icon-yearviplevel{
    width:59px;
    span {
        -webkit-background-size: 59px auto;
    }
}
.ui-icon-yearviplevel-s {
    width:38px;
    span {
        -webkit-background-size: auto 13px;
    }
}
.ui-icon-sviplevel {
    width:57px;
    span {
        -webkit-background-size: 57px auto;
    }
}
.ui-icon-sviplevel-s {
    width:37px;
    span {
        -webkit-background-size: auto 13px;
    }
}
.ui-icon-yearsviplevel {
    width:66px;
    span {
        -webkit-background-size: 66px auto;
    }
}
.ui-icon-yearsviplevel-s {
    width:45px;
    span {
        -webkit-background-size: auto 13px;
    }
}

.ui-icon-viplevel span, .ui-icon-yearviplevel span {
    height:24px;
    top:-16px;
}
.ui-icon-sviplevel span, .ui-icon-yearsviplevel span {
    height:26px;
    top:-18px;
}
.ui-icon-viplevel-s span, .ui-icon-sviplevel-s span,.ui-icon-yearviplevel-s span,.ui-icon-yearsviplevel-s span {
    height:13px;
    top:-11px;
}











