/**
 * 按钮
 */
.ui-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 13px;
    min-width: 56px;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 0 none;
    color: #0079ff;
    font-size: 14px;
    background-color: rgb(253,253,253);
    background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0.38, rgb(255,255,255)), to(rgb(250,250,250)));
    border-radius: 3px;
    vertical-align: top;
    color: rgb(0,165,224);
    text-shadow: 0 1px 0 rgba( 0, 0, 0 ,.1 );
    -webkit-box-sizing: border-box;
    border: 1px solid #c8c7cc;
    background-clip: padding-box;
}
.ui-btn:not(.disabled):active,.ui-btn.active{
    background: #f2f2f2;
    color: rgba(0,165,224,.5);
    background-clip: padding-box;
}
.ui-btn:after{
    content: "";
    position: absolute;
    top: -12px;
    bottom: -12px;
    left: 0;
    right: 0;
}

.ui-btn-primary{
    background-color: rgb(24,180,237);
    border-color: rgb( 11, 170, 228 );
    background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0.49, rgb(31,186,243)), to(rgb(24,180,237)));
    color: #fff;
    background-clip: padding-box;
}
.ui-btn-primary:not(.disabled):active,.ui-btn-primary.active{
    background: #1ca7da;
    border-color: #1ca7da;
    color: rgba(255,255,255,.5);
    background-clip: padding-box;
}
.ui-btn-danger{
    background-color: rgb(247,85,73);
    background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0.49, rgb(254,89,77)), to(rgb(247,85,73)));
    color: #fff;
    border-color: rgb(244, 61, 48);
    background-clip: padding-box;
}
.ui-btn-danger:not(.disabled):active,.ui-btn-danger.active{
    background: #df5045;
    border-color: #df5045;
    color: rgba(255,255,255,.5);
    background-clip: padding-box;
}
.ui-btn.disabled{
    border:1px solid #e9ebec;
    color: #ccc;
    background: #e9ebec;
    text-shadow: none;
    background-clip: padding-box;
}
.ui-btn-lg{
    @extend .ui-btn;
    font-size: 18px;
    height: 44px;
    line-height: 42px;
    display: block;
    width: 100%;  
    border-radius: 5px;
}

.ui-btn-wrap{
    padding: 20px 15px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-btn{border-width: 0;}
    .ui-btn:before{
        content:"";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid #c8c7cc;
        border-radius: 8px;
        -webkit-transform:scale(.5);
        -webkit-transform-origin: -50% -50%;
    }
    .ui-btn-primary,.ui-btn-danger{
        border-width: 1px;
    }
    .ui-btn-primary:before,.ui-btn-danger:before,.ui-btn.disabled:before{
        display:none;
    }
}
