/**
 * 按钮
 */
.ui-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 13px;
    min-width: 56px;
    display: inline-block;
    position: relative;
    text-align: center;
    border: none;
    color: #0079ff;
    font-size: 14px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0.5, #fff), to(#fafafa));
    border-radius: 3px;
    vertical-align: top;
    color: #00a5e0;
    text-shadow: 0 1px 0 rgba( 0, 0, 0 ,.1 );
    -webkit-box-sizing: border-box;
    border: 1px solid #cacccd;
    background-clip: padding-box;
}
.ui-btn:not(.disabled):not(:disabled):active,.ui-btn.active{
    background: #f2f2f2;
    color: rgba(0,165,224,.5);
    background-clip: padding-box;
}
.ui-btn:after{
    content: "";
    position: absolute;
    top: -12px;
    bottom: -12px;
    left: 0;
    right: 0;
}

.ui-btn-primary{
    background-color: #18b4ed;
    border-color: #0baae4;
    background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0.5, #1fbaf3), to(#18b4ed));
    color: #fff;
    background-clip: padding-box;
}
.ui-btn-primary:not(.disabled):not(:disabled):active,.ui-btn-primary.active{
    background: #1ca7da;
    border-color: #1ca7da;
    color: rgba(255,255,255,.5);
    background-clip: padding-box;
}
.ui-btn-danger{
    background-color: #f75549;
    background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0.5, #fc6156), to(#f75549));
    color: #fff;
    border-color: #f43d30;
    background-clip: padding-box;
}
.ui-btn-danger:not(.disabled):not(:disabled):active,.ui-btn-danger.active{
    background: #e2574d;
    border-color: #e2574d;
    color: rgba(255,255,255,.5);
    background-clip: padding-box;
}
.ui-btn.disabled,.ui-btn:disabled{
    border:1px solid #e9ebec;
    color: #ccc;
    background: #e9ebec;
    text-shadow: none;
    background-clip: padding-box;
}
.ui-btn-lg{
    @extend .ui-btn;
    font-size: 18px;
    height: 44px;
    line-height: 42px;
    display: block;
    width: 100%;  
    border-radius: 5px;
}

.ui-btn-wrap{
    padding: 20px 15px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-btn,.ui-btn.disabled,.ui-btn:disabled{border: 0;}
    .ui-btn:before{
        content:"";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #cacccd;
        border-radius: 8px;
        -webkit-transform:scale(.5);
        -webkit-transform-origin: 0 0;
        padding: 1px;
        -webkit-box-sizing: border-box;
    }
    .ui-btn-lg:before{border-radius: 12px;}
    .ui-btn-primary:before{
        border: 1px solid #0baae4;
    }
    .ui-btn-danger:before{
        border: 1px solid #f43d30;
    }
    .ui-btn.disabled:before,.ui-btn:disabled:before{
        border: 1px solid #e9ebec;
    }
}
