@charset "utf-8";

/**
 * 底部操作区
 */
.ui-btn-group{
	display: -webkit-box;
	width: 100%;
}
.ui-btn-group button{
  color: #00a5e0;
	border: none;
	display: block;
	line-height: 50px;
	height: 48px;
	-webkit-box-flex:1;
	text-align: center;
	font-size: 16px;
	border-right: 1px #c8c7cc solid;
	width: 100%;
	border-top: 1px solid #c8c7cc;
}
.ui-btn-group button:active {
	background: rgba(0,0,0,.1);
}
.ui-btn-bottom button:active {
  opacity: .6;

  
}
.ui-btn-group button:last-child{
	border-right: none;
	background-image: none;
} 

.ui-btn-group.ui-btn-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;

  button {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e0e0e0));
  }

  button:active {
    background-color: none;
    color: rgba(0,165,224,0.4)
  }
}

@media screen and (-webkit-min-device-pixel-ratio:2.0){
  .ui-btn-group button{
    position: relative;
    border: none;
  }
  .ui-btn-group button:before {
    content: "";
    position: absolute;
    -webkit-transform-origin: right top;
    width: 0;
    border-right: 1px solid #c8c7cc;
    right: 0;
    top:0;
    bottom: 0;
    -webkit-transform: scaleX(.5);
  }
  .ui-btn-group button:after {
    content: "";
    position: absolute;
    -webkit-transform-origin: right top;
    left: 0;
    right: 0;
    height: 0;
    border-top: 1px solid #c8c7cc;
    top: 0;
    -webkit-transform: scaleY(.5);
  }
  .ui-btn-group button:last-child:before{
    border-right: none;
    background-image: none;
  }
}