@charset "utf-8";
/* 三等分 */
.ui-grid-trisect{
    padding-left: 10px;
    padding-right: 3px;
    overflow: hidden;
}
.ui-grid-trisect>li{
    width: 33.33333333%;
    padding: 0 7px 10px 0;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box; 
}
.ui-grid-trisect-img{
    padding-top: 149.47%;
}
.ui-grid-trisect h4{
    font-size: 12px;
    position: relative;
    margin: 7px 0 3px;
}
.ui-grid-trisect h4 span{
    display: inline-block;
    margin-left: 12px;
    color: #808080;
}
/* 二等分 */
.ui-grid-halve{
    overflow: hidden;
    padding: 10px 0 0 10px;
}
.ui-grid-halve>li{
    width: 50%;
    padding: 0 10px 10px 0;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box; 
}
.ui-grid-halve-img{
    padding-top: 55.17%;
}
.ui-grid-trisect-img,.ui-grid-halve-img{
    width: 100%;
    position: relative;
    img{width: 100%;height: 100%}
    &:active{
        opacity: .7;
    }
    span{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
    }
}