.ui-radio{
	line-height: 26px;
	display: inline-block;
	margin: 5px 0;
}
.ui-radio input{
	display: inline-block;
	width: 24px;
	height: 1px;
	position: relative;
	overflow: visible;
	border: none;
	background: none;
	-webkit-appearance: none;
	outline: none;
	margin-right: 8px;
	vertical-align: middle;
	
}
.ui-radio input:before{
	content:'';
	display: block;
	width: 24px;
	height: 24px;
	border: 1px solid #dfe0e1;
	border-radius: 13px;
	background-clip: padding-box;
	position: absolute;
	left:0px;
	top:-14px;
}
.ui-radio input:checked:after{
	content:'';
	display: block;
	width: 14px;
	height: 14px;
	background: #1cb7f0;
	border-radius: 7px;
	position: absolute;
	left: 6px;
	top: -8px;
}