.ui-searchbar-wrap{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background-color: #f8f9fa;

    button {
        margin-right: 10px;
        
    }
    .ui-searchbar-cancel{
        color: #808080;
        font-size: 16px;
        padding: 4px 8px;
    }
    .ui-searchbar-input,button,.ui-icon-close{
        display: none;
    }
    &.focus{
        -webkit-box-pack:start;

        .ui-searchbar-input,button,.ui-icon-close{
            display: block;
        }
        .ui-searchbar-text{
            display: none;
        }
    }
}
.ui-searchbar{
    border-radius: 4px;
    height: 30px;
    margin: 7px 10px;
    background: #fff;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    padding-left: 4px;
    -webkit-box-flex:1;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    color: #808080;
    width: 100%;
    input{
        -webkit-appearance: none;
        font-size: 14px;
        color: #000;
        border: none;
        width: 100%;
        padding: 7px 0;
    }
    
}
.ui-searchbar-input{
    -webkit-box-flex: 1;
}
