<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true">
    <title>QUI Demo</title>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=37342703" charset="UTF-8"></script>

    
    <link rel="stylesheet" href="../../../../css/frozenui.css">
    <link rel="stylesheet" href="../../../css/style.css">
    

    
</head>

<body ontouchstart>
    <section class="ui-container">
        
<section id="textfield">
    <div class="demo-item">
        <p class="demo-desc">表单输入项</p>
        <div class="demo-block">
            <div class="ui-form ui-border-t">
                <form action="#">
                    <div class="ui-form-item ui-border-b">
                        <label>
                            身份证号码
                        </label>
                        <input type="text" placeholder="18位身份证号码" />
                        <a href="#" class="ui-icon-close">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="demo-item">
        <p class="demo-desc">表单输入项3</p>
        <div class="demo-block">
            <div class="ui-form ui-border-t">
                <form action="#">
                    <div class="ui-form-item ui-form-item-pure ui-border-b">
                        <input type="text" placeholder="QQ号/手机号/邮箱">
                        <a href="#" class="ui-icon-close"></a>
                    </div>
                    <div class="ui-form-item ui-form-item-pure ui-border-b">
                        <input type="password" placeholder="密码">
                        <a href="#" class="ui-icon-close"></a>
                    </div>
                    <div class="ui-form-item ui-form-item-r ui-border-b">
                        <input type="text" placeholder="请输入验证码">
                        <!-- 若按钮不可点击则添加 disabled 类 -->
                        <button type="button" class="ui-border-l">重新发送</button>
                        <a href="#" class="ui-icon-close"></a>
                    </div>
                </form>
            </div>
            </div>
    </div>
    <div class="demo-item">
        <p class="demo-desc">普通输入框</p>
        <div class="demo-block">
            <section class="ui-input-wrap ui-border-t">
                <div class="ui-input ui-border-radius">
                    <input type="text" name="" value="" placeholder="我也说一句...">
                </div>
                <button class="ui-btn">评论</button>
            </section>
         </div>
    </div>
</section>

    </section>

    <script src="http://open.mobile.qq.com/sdk/qqapi.js?_bid=152"></script>
    <script>
    var _mtac = {};
    (function() {
        var mta = document.createElement("script");
        mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.2";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500421336");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
    </script>

    
    <script src="../../../js/lib/zepto.min.js"></script>
    <script src="../../../js/index.js"></script>
    

    
</body>
</html>
