{%- extends "layout.html" -%}
{%- block title %}{{post.title}}{% endblock %}

{%- block document %}
<div class="hentry" itemscope itemtype="http://schema.org/Article">
  <h1 class="entry-title" itemprop="name">{{post.title}}</h1>
  {%- if post.description %}
  <blockquote class="entry-description" itemprop="description">{{post.description}}</blockquote>
  {%- endif %}
  <div class="entry-content" itemprop="articleBody">{{post.html}}</div>
  {%- if post.meta.source %}
  <div class="entry-meta">
    <a class="source sep" href="{{ post.meta.source }}">{{ post.meta.source }}</a>
  </div>
  {%- endif %}
</div>
{% endblock -%}
