{%- extends "layout.html" -%}
{%- block title %}{{post.title}}{% endblock %}

{%- block document %}
<div class="hentry" itemscope itemtype="http://schema.org/Article">
  <h1 class="entry-title" itemprop="name">{{post.title}}</h1>
  {%- if post.meta.description %}
  <div class="entry-description" itemprop="description">{{post.meta.description}}</div>
  {%- endif %}
  <div class="entry-content" itemprop="articleBody">{{post.html}}</div>

  <div class="entry-meta">
    <time class="updated" datetime="{{post.pubdate|xmldatetime}}" itemprop="dateModified">{{post.pubdate|date('l, M jS, Y')}}</time>
    {%- if post.tags|length and config.writers|enabled('TagWriter') %}
    in <span class="entry-tags">
      {% for tag in post.tags %}
      <a href="{{ index_url('tag', tag) }}">{{tag}}</a>
      {% endfor %}
    </span>
    {%- endif %}
    {%- if post.meta.source %}
    <a class="source sep" href="{{ post.meta.source }}">{{ post.meta.source }}</a>
    {%- endif %}
  </div>
  {%- if config.disqus %}
  {%- include "_disqus.html" %}
  {%- endif %}
  {%- if config.duoshuo %}
  {%- include "_duoshuo.html" %}
  {%- endif %}
</div>
{% endblock -%}
