<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true">
    <title>QUI Demo</title>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=37342703" charset="UTF-8"></script>

    
    <link rel="stylesheet" href="../../../../css/frozenui.css">
    <link rel="stylesheet" href="../../../css/style.css">
    

    
</head>

<body ontouchstart>
    <section class="ui-container">
        
<section id="btn">
    <h1 class="title">BUTTON</h1>
    <div class="demo-item">
        <p class="demo-desc">普通按钮</p>
        <div class="demo-block">
            <div class="ui-btn-wrap">
                <!-- 按钮样式1 -->
                <button class="ui-btn">
                    下载
                </button>
                <button class="ui-btn disabled">
                    确定
                </button>
            </div>
            <div class="ui-btn-wrap">
                <button class="ui-btn ui-btn-primary">
                    确定
                </button>
                <button class="ui-btn disabled" >
                   确定
                </button>
            </div>
            <div class="ui-btn-wrap">
                <button class="ui-btn ui-btn-danger">
                    确定
                </button>
                  <button class="ui-btn ui-btn-danger disabled">
                   确定
                </button>
            </div>
        </div>
    </div>

    <!-- 进度的按钮 -->
    <div class="demo-item">
        <p class="demo-desc">进度按钮</p>
        <div class="demo-block">
            <div class="ui-btn-wrap">
                <button class="ui-btn ui-btn-progress">
                    <span>下载</span>
                    <span class="ui-btn-inner" style="width:50%"><span>下载</span></span>
                </button>
                 <button class="ui-btn ui-btn-progress disabled">
                    <span>下载</span>
                    <span class="ui-btn-inner" style="width:50%"><span>下载</span></span>
                </button>
            </div>
        </div>
    </div>

    <!-- 高亮按钮  -->
      <div class="demo-item color-black">
        <p class="demo-desc">高亮按钮</p>
        <div class="demo-block">
            <div class="ui-btn-wrap">
                <button class="ui-btn ui-btn-highlight">
                    确定
                </button>
                <button class="ui-btn ui-btn-highlight disabled">
                    确认
                </button>
            </div>
        </div>
    </div>

    <div class="demo-item">
        <p class="demo-desc">中等（2/3）按钮</p>
        <div class="demo-block">
            <div class="ui-btn-wrap ui-btn-wrap-middle">
                <button class="ui-btn-lg-nowhole">
                    取消
                </button>
            </div>
            <div class="ui-btn-wrap ui-btn-wrap-middle">
                <button class="ui-btn-lg-nowhole ui-btn-primary">
                    取消
                </button>
            </div>
            <div class="ui-btn-wrap ui-btn-wrap-middle">
                <button class="ui-btn-lg-nowhole ui-btn-danger">
                    取消
                </button>
            </div>
            <div class="ui-btn-wrap ui-btn-wrap-middle">
                <button class="ui-btn-lg-nowhole ui-btn-danger disabled">
                    取消
                </button>
            </div>
        </div>
    </div>

    <div class="demo-item">
        <p class="demo-desc">长条按钮</p>
        <div class="demo-block">
            <div class="ui-btn-wrap">
                <button class="ui-btn-lg">
                    确定
                </button>
            </div>
            <div class="ui-btn-wrap">
                <button class="ui-btn-lg ui-btn-primary">
                    确定
                </button>
            </div>
            <div class="ui-btn-wrap">
                <button class="ui-btn-lg ui-btn-danger">
                    确定
                </button>
            </div>
            <div class="ui-btn-wrap">
                <button class="ui-btn-lg disabled">
                    取消
                </button>
            </div>
             <div class="ui-btn-wrap color-black">
                <button class="ui-btn-highlight ui-btn-lg">
                    取消
                </button>
            </div>
        </div>
    </div>

</section>

    </section>

    <script src="http://open.mobile.qq.com/sdk/qqapi.js?_bid=152"></script>
    <script>
    var _mtac = {};
    (function() {
        var mta = document.createElement("script");
        mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.2";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500421336");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
    </script>

    
    <script src="../../../js/lib/zepto.min.js"></script>
    <script src="../../../js/index.js"></script>
    

    
</body>
</html>
