@charset "UTF-8";
/**
 * 辅助功能类
 */
.ui-txt-default {
  color: #000; }

.ui-txt-info {
  color: #808080; }

.ui-txt-muted {
  color: #a6a6a6; }

.ui-txt-warning {
  color: #fc4226; }

/* 同em */
.ui-txt-highlight {
  color: #f28c48; }

/* 1px hack */
.ui-border-t {
  border-top: 1px solid #dedfe0; }

.ui-border-b {
  border-bottom: 1px solid #dedfe0; }

.ui-border-tb {
  border-top: #dedfe0 1px solid;
  border-bottom: #dedfe0 1px solid;
  background-image: none; }

.ui-border-l {
  border-left: 1px solid #dedfe0; }

.ui-border-r {
  border-right: 1px solid #dedfe0; }

.ui-border {
  border: 1px solid #dedfe0; }

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-border {
    position: relative;
    border: 0; }

  .ui-border-t, .ui-border-b, .ui-border-l, .ui-border-r, .ui-border-tb {
    border: 0; }

  .ui-border:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #dedfe0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: -50% -50%; }

  .ui-border-t {
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #dedfe0), to(#dedfe0)); }

  .ui-border-b {
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #dedfe0), to(#dedfe0)); }

  .ui-border-t,
  .ui-border-b {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px; }

  .ui-border-tb {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #dedfe0), to(#dedfe0)) left top repeat-x, -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #dedfe0), to(#dedfe0)) left bottom repeat-x; }

  .ui-border-tb {
    -webkit-background-size: 100% 1px; }

  .ui-border-l {
    background-position: left top;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #dedfe0), to(#dedfe0)); }

  .ui-border-r {
    background-position: right top;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.5, transparent), color-stop(0.5, #dedfe0), to(#dedfe0)); }

  .ui-border-l,
  .ui-border-r {
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%; } }
/**
 * 垂直上下居中
 */
.ui-center {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 200px;
  /* 需要重置 */ }

/**
 * 圆角头像，列表场景，默认用100px的
 */
.ui-avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url(../img/default.png?_bid=256); }
  .ui-avatar span {
    width: 50px;
    height: 50px;
    overflow: hidden;
    -webkit-border-radius: 200px;
    display: block;
    -webkit-background-size: 100% 100%; }

.ui-avatar-lg {
  width: 54px;
  height: 54px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url(../img/default.png?_bid=256); }
  .ui-avatar-lg span {
    width: 54px;
    height: 54px;
    overflow: hidden;
    -webkit-border-radius: 200px;
    display: block;
    -webkit-background-size: 100% 100%; }

.ui-avatar-s {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url(../img/default.png?_bid=256); }
  .ui-avatar-s span {
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-border-radius: 200px;
    display: block;
    -webkit-background-size: 100% 100%; }

/* 资料场景 */
.ui-avatar-one {
  width: 64px;
  height: 64px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url(../img/default.png?_bid=256); }
  .ui-avatar-one span {
    width: 64px;
    height: 64px;
    overflow: hidden;
    -webkit-border-radius: 200px;
    display: block;
    -webkit-background-size: 100% 100%; }

/* 平铺场景 */
.ui-avatar-tiled {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url(../img/default.png?_bid=256);
  display: inline-block; }
  .ui-avatar-tiled span {
    width: 30px;
    height: 30px;
    overflow: hidden;
    -webkit-border-radius: 200px;
    display: block;
    -webkit-background-size: 100% 100%; }

/**
* 红点提醒
*/
.ui-reddot, .ui-reddot-border, .ui-reddot-s {
  position: relative;
  display: inline-block;
  line-height: 22px;
  padding: 0 6px; }
  .ui-reddot:after, .ui-reddot-border:after, .ui-reddot-s:after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #f76249;
    border-radius: 4px;
    right: -3px;
    top: -3px;
    -webkit-background-clip: padding-box;
            background-clip: padding-box; }

/* 带白边的 */
.ui-reddot-border:after {
  border: 1px #fff solid; }

/* 小号的 */
.ui-reddot-s:after {
  width: 6px;
  height: 6px;
  top: -5px;
  right: -5px; }

/**
 * 未读数通知
 */
.ui-badge, .ui-badge-muted {
  display: inline-block;
  text-align: center;
  background: #f74c31;
  color: #fff;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  -webkit-border-radius: 10px;
  padding: 0 7px; }

/* 浅色的 */
.ui-badge-muted {
  background: #b6cae0; }
