{% extends "template/base.html"%}

{% block content %}
<section id="tag">
    <h1 class="title">SUBSCRIPT</h1>
    <div class="demo-item">
        <p class="demo-desc">角标</p>
        <div class="demo-block">
            <ul class="ui-grid-halve">
                <li>
                    <div class="ui-grid-halve-img" style="overflow:hidden;">
                        <i class="ui-subscript ui-subscript-red">最新</i>
                        <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
                    </div>
                </li>
                <li>
                    <div class="ui-grid-halve-img" style="overflow:hidden;">
                        <i class="ui-subscript ui-subscript-orange">活动</i>
                        <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
                    </div>
                </li>
                <li>
                    <div class="ui-grid-halve-img" style="overflow:hidden;">
                        <i class="ui-subscript ui-subscript-green">限免</i>
                        <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
                    </div>
                </li>
                <li>
                    <div class="ui-grid-halve-img" style="overflow:hidden;">
                        <i class="ui-subscript ui-subscript-blue">免费</i>
                        <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
                    </div>
                </li>
                <li>
                    <div class="ui-grid-halve-img" style="overflow:hidden;">
                        <i class="ui-subscript ui-subscript-red ui-subscript-trisection">小表情</i>
                        <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
                    </div>
                </li>
                <li>
                    <div class="ui-grid-halve-img" style="overflow:hidden;">
                        <i class="ui-subscript ui-subscript-red">不可四字</i>
                        <span style="background-image:url(http://placeholder.qiniudn.com/290x160)"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock%}
