@import

    "../base/mixin",
    "../base/variable";
/**
 * 未读数通知
 */
%badge{
    display: inline-block;
    text-align: center;
    background: $reddot-bg;
    color: #fff;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    -webkit-border-radius: 8px;
    padding: 0 6px;
    background-clip: padding-box;
}
.ui-badge{  
    @extend %badge;
}
/* 浅色的 */

.ui-badge-muted{
    @extend .ui-badge;
    background: #b6cae0;
}
.ui-badge-num{
    @extend .ui-badge;
    height: 19px;
    line-height: 20px;
    font-size: 12px;
    min-width: 19px;
    -webkit-border-radius: 10px;
}
.ui-badge-wrap{
    position: relative;
    text-align: center;
}
.ui-badge-corner{
    @extend %badge;
    position: absolute;
    border: 2px #fff solid;
    height: 20px;
    line-height: 20px;
    top: -4px;
    right: -9px;
}
.ui-badge-cornernum{
    @extend %badge;
    position: absolute;
    top: -4px;
    right: -9px;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    min-width: 19px;
    -webkit-border-radius: 10px;
    top: -5px;
    right: -5px;
}
