@import

    "../base/mixin",
    "../base/variable";

.ui-radio{
	line-height: 25px;
	display: inline-block;
}
.ui-radio input{
	display: inline-block;
	width: 26px;
	height: 26px;
	position: relative;
	overflow: visible;
	border: 0;
	background: none;
	-webkit-appearance: none;
	outline: none;
	margin-right: 8px;
	vertical-align: middle;
	
}
.ui-radio input:before{
	content:'';
	display: block;
	width: 24px;
	height: 24px;
	border: 1px solid #dfe0e1;
	border-radius: 13px;
	background-clip: padding-box;
	position: absolute;
	left:0px;
	top: 0;
}
.ui-radio input:checked:after{
	content:'';
	display: block;
	width: 14px;
	height: 14px;
	background: $positive-bg;
	border-radius: 7px;
	position: absolute;
	left: 6px;
	top: 6px;
}
