@import

    "../base/mixin",
    "../base/variable";

/**
 * 表格
 */
.ui-table{
    width: 100%;
    border-collapse:collapse;
}
.ui-table th{font-weight: 500;}
.ui-table td,.ui-table th{
    border-bottom: 1px solid $bordercolor;
    border-right: 1px solid $bordercolor;
    text-align: center;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-table td,.ui-table th{
		position: relative;
		border-right: 0;
        border-bottom: 0;
	}
    .ui-table td:after,.ui-table th:after {
        content: "";
        position: absolute;
    	width: 100%;
        height: 100%;
    	left: 0;
    	top:0;
        background-image: $border-r,$border-b;
        background-size: 1px 100% ,100% 1px;
        background-repeat: no-repeat;
        background-position: right, bottom;
        pointer-events: none;
    }
    .ui-table tr td:last-child:after,.ui-table tr th:last-child:after{
        background-image: $border-b;
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .ui-table tr:last-child td:not(:last-child):after{
        background-image: $border-r;
        background-size: 1px 100%;
        background-repeat: no-repeat;
        background-position: right;
    }
}
.ui-table tr td:last-child,.ui-table tr th:last-child{
    border-right: 0;
}
.ui-table tr:last-child td{
    border-bottom: 0;
}

