@import

    "../base/mixin",
    "../base/variable";

.ui-tips{
    padding: $tips-padding;
    text-align: center;
    font-size: $font-size-info;
    color: $txt-default;
    i{
        display: inline-block;
        width: 32px;
        height: 1px;
        vertical-align: top;
    }
}
.ui-tips i:before{
    @include icon;
    content: $icon-info;
    color: $tips-info;
    line-height: 21px;
}
.ui-tips-success i:before{
    content: $icon-success;
    color: $tips-success;
}
.ui-tips-warn i:before{
    content: $icon-warn;
    color: $tips-warn;
}
