.ui-header,
.ui-footer {
  position: fixed;
  width: 100%;
  z-index: 10;
  left: 0; }

.ui-header {
  top: 0;
  height: 45px;
  line-height: 45px; }

.ui-header-stable,
.ui-footer-stable {
  background-color: #f8f9fa; }

.ui-footer {
  bottom: 0;
  height: 48px;
  line-height: 48px; }

.ui-header ~ .ui-container {
  border-top: 45px solid transparent; }

.ui-footer ~ .ui-container {
  border-bottom: 48px solid transparent; }

.ui-header h1 {
  position: relative;
  padding-left: 10px;
  -webkit-box-sizing: border-box; }

.ui-header h1 button {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px; }
