/**
 * 弹窗类
 */
.ui-dialog{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index:99999;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	background: rgba(0,0,0,.4);
	display: none;
	color: #000;
}
.ui-dialog-notice{
    background: rgba(0,0,0,0);
}
.ui-dialog.show{
	display: -webkit-box;
	display: box;
}
.ui-dialog .dialog-container{
	border-radius: 6px;
	width: 270px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: none;
	pointer-events: auto;
	background-color: rgba(255,255,255,0.8);
	position: relative;
}
.ui-dialog .icon-close{
	background: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/icon.png) no-repeat -125px -25px;
	background-size: 200px auto;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 6px;
	top: 6px;
	text-indent: -999em;
}
.ui-dialog .icon-close:active{
	opacity: .4;
}
.ui-dialog .dialog-body{
	min-height: 71px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	padding: 18px;
	font-size: 16px;
	display: -webkit-box;
	display: box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
}
.ui-dialog .dialog-body h4{
	margin-bottom: 4px;
	font-size: 16px;
	width: 100%;
	text-align: center;
}
.ui-dialog .dialog-body div{
  width: 100%;
}
.ui-dialog .dialog-footer{
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ui-dialog .dialog-footer button{
	height: 42px;
	line-height: 42px;
	background: transparent;
}

.ui-dialog .dialog-footer button:active {
	background: rgba(0,0,0,.1);
}
.ui-dialog .dialog-footer button:first-child{
	border-bottom-left-radius:6px;
	background-image: none;
}
.ui-dialog .dialog-footer button:last-child{
	border-bottom-right-radius:6px;
}

/* hack , 新的写法用dialog-notice-container*/
.dialog-notice,.dialog-notice-container{
  width: 130px;
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  background: rgba(0,0,0,.65);
  border-radius: 6px;
  color: #fff;
}
.icon-notice{
  display: block;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  margin-bottom: 12px;
}