@charset "UTF-8";
/*图标基类*/
.ui-icon-vip, .ui-icon-mq-vip,
.ui-icon-mq-vip-off, .ui-icon-mq-yearvip,
.ui-icon-mq-yearvip-off, .ui-icon-vip-level, .ui-icon-vip-cardlevel, .ui-icon-vip-year, .ui-icon-vip-yearcardlevel, .ui-icon-svip-level, .ui-icon-svip-cardlevel, .ui-icon-svip-year, .ui-icon-svip-yearcardlevel {
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle; }
  .ui-icon-vip:after, .ui-icon-mq-vip:after,
  .ui-icon-mq-vip-off:after, .ui-icon-mq-yearvip:after,
  .ui-icon-mq-yearvip-off:after, .ui-icon-vip-level:after, .ui-icon-vip-cardlevel:after, .ui-icon-vip-year:after, .ui-icon-vip-yearcardlevel:after, .ui-icon-svip-level:after, .ui-icon-svip-cardlevel:after, .ui-icon-svip-year:after, .ui-icon-svip-yearcardlevel:after {
    overflow: hidden;
    content: "\0020";
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    line-height: 100px; }

/*超Q图标*/
.ui-icon-mq, .ui-icon-mq-vip,
.ui-icon-mq-vip-off, .ui-icon-mq-yearvip,
.ui-icon-mq-yearvip-off {
  width: 28px; }
  .ui-icon-mq:after, .ui-icon-mq-vip:after,
  .ui-icon-mq-vip-off:after, .ui-icon-mq-yearvip:after,
  .ui-icon-mq-yearvip-off:after {
    height: 28px;
    top: -15px;
    -webkit-background-size: 28px auto; }

.ui-icon-mq-vip:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/mq_vip.png); }

.ui-icon-mq-vip-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/mq_vip.png); }

.ui-icon-mq-yearvip:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/mq_yearvip.png); }

.ui-icon-mq-yearvip-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/mq_yearvip.png); }

/*等级图标*/
/*宽度与背景size*/
.ui-icon-vip-level {
  width: 50px; }
  .ui-icon-vip-level:after {
    -webkit-background-size: 50px auto; }

.ui-icon-vip-cardlevel {
  width: 29px; }
  .ui-icon-vip-cardlevel:after {
    -webkit-background-size: auto 13px; }

.ui-icon-vip-year {
  width: 59px; }
  .ui-icon-vip-year:after {
    -webkit-background-size: 59px auto; }

.ui-icon-vip-yearcardlevel {
  width: 38px; }
  .ui-icon-vip-yearcardlevel:after {
    -webkit-background-size: auto 13px; }

.ui-icon-svip-level {
  width: 57px; }
  .ui-icon-svip-level:after {
    -webkit-background-size: 57px auto; }

.ui-icon-svip-cardlevel {
  width: 35px; }
  .ui-icon-svip-cardlevel:after {
    -webkit-background-size: auto 13px; }

.ui-icon-svip-year {
  width: 66px; }
  .ui-icon-svip-year:after {
    -webkit-background-size: 66px auto; }

.ui-icon-svip-yearcardlevel {
  width: 45px; }
  .ui-icon-svip-yearcardlevel:after {
    -webkit-background-size: auto 13px; }

.ui-icon-vip-level:after, .ui-icon-vip-year:after {
  height: 24px;
  top: -15px; }

.ui-icon-svip-level:after, .ui-icon-svip-year:after {
  height: 26px;
  top: -17px; }

.ui-icon-vip-cardlevel:after, .ui-icon-svip-cardlevel:after, .ui-icon-vip-yearcardlevel:after, .ui-icon-svip-yearcardlevel:after {
  height: 13px;
  top: -7px; }

/*正常状态图标*/
.ui-icon-vip-level.level1:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_1.png); }

.ui-icon-vip-cardlevel.level1:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_c_1.png); }

.ui-icon-vip-yearcardlevel.level1:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_c_1.png); }

.ui-icon-vip-year.level1:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_1.png); }

.ui-icon-svip-level.level1:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_1.png); }

.ui-icon-svip-cardlevel.level1:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_c_1.png); }

.ui-icon-svip-year.level1:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_1.png); }

.ui-icon-svip-yearcardlevel.level1:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_c_1.png); }

.ui-icon-vip-level.level2:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_2.png); }

.ui-icon-vip-cardlevel.level2:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_c_2.png); }

.ui-icon-vip-yearcardlevel.level2:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_c_2.png); }

.ui-icon-vip-year.level2:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_2.png); }

.ui-icon-svip-level.level2:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_2.png); }

.ui-icon-svip-cardlevel.level2:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_c_2.png); }

.ui-icon-svip-year.level2:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_2.png); }

.ui-icon-svip-yearcardlevel.level2:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_c_2.png); }

.ui-icon-vip-level.level3:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_3.png); }

.ui-icon-vip-cardlevel.level3:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_c_3.png); }

.ui-icon-vip-yearcardlevel.level3:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_c_3.png); }

.ui-icon-vip-year.level3:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_3.png); }

.ui-icon-svip-level.level3:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_3.png); }

.ui-icon-svip-cardlevel.level3:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_c_3.png); }

.ui-icon-svip-year.level3:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_3.png); }

.ui-icon-svip-yearcardlevel.level3:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_c_3.png); }

.ui-icon-vip-level.level4:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_4.png); }

.ui-icon-vip-cardlevel.level4:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_c_4.png); }

.ui-icon-vip-yearcardlevel.level4:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_c_4.png); }

.ui-icon-vip-year.level4:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_4.png); }

.ui-icon-svip-level.level4:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_4.png); }

.ui-icon-svip-cardlevel.level4:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_c_4.png); }

.ui-icon-svip-year.level4:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_4.png); }

.ui-icon-svip-yearcardlevel.level4:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_c_4.png); }

.ui-icon-vip-level.level5:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_5.png); }

.ui-icon-vip-cardlevel.level5:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_c_5.png); }

.ui-icon-vip-yearcardlevel.level5:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_c_5.png); }

.ui-icon-vip-year.level5:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_5.png); }

.ui-icon-svip-level.level5:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_5.png); }

.ui-icon-svip-cardlevel.level5:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_c_5.png); }

.ui-icon-svip-year.level5:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_5.png); }

.ui-icon-svip-yearcardlevel.level5:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_c_5.png); }

.ui-icon-vip-level.level6:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_6.png); }

.ui-icon-vip-cardlevel.level6:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_c_6.png); }

.ui-icon-vip-yearcardlevel.level6:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_c_6.png); }

.ui-icon-vip-year.level6:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_6.png); }

.ui-icon-svip-level.level6:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_6.png); }

.ui-icon-svip-cardlevel.level6:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_c_6.png); }

.ui-icon-svip-year.level6:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_6.png); }

.ui-icon-svip-yearcardlevel.level6:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_c_6.png); }

.ui-icon-vip-level.level7:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_7.png); }

.ui-icon-vip-cardlevel.level7:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_c_7.png); }

.ui-icon-vip-yearcardlevel.level7:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_c_7.png); }

.ui-icon-vip-year.level7:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/vip_n_7.png); }

.ui-icon-svip-level.level7:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_7.png); }

.ui-icon-svip-cardlevel.level7:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_c_7.png); }

.ui-icon-svip-year.level7:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_7.png); }

.ui-icon-svip-yearcardlevel.level7:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/svip_n_c_7.png); }

/*过期状态图标*/
.ui-icon-vip-level.level1-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_1.png); }

.ui-icon-vip-cardlevel.level1-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_c_1.png); }

.ui-icon-vip-yearcardlevel.level1-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_c_1.png); }

.ui-icon-vip-year.level1-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_1.png); }

.ui-icon-svip-level.level1-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_1.png); }

.ui-icon-svip-cardlevel.level1-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_c_1.png); }

.ui-icon-svip-year.level1-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_1.png); }

.ui-icon-svip-yearcardlevel.level1-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_c_1.png); }

.ui-icon-vip-level.level2-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_2.png); }

.ui-icon-vip-cardlevel.level2-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_c_2.png); }

.ui-icon-vip-yearcardlevel.level2-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_c_2.png); }

.ui-icon-vip-year.level2-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_2.png); }

.ui-icon-svip-level.level2-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_2.png); }

.ui-icon-svip-cardlevel.level2-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_c_2.png); }

.ui-icon-svip-year.level2-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_2.png); }

.ui-icon-svip-yearcardlevel.level2-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_c_2.png); }

.ui-icon-vip-level.level3-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_3.png); }

.ui-icon-vip-cardlevel.level3-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_c_3.png); }

.ui-icon-vip-yearcardlevel.level3-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_c_3.png); }

.ui-icon-vip-year.level3-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_3.png); }

.ui-icon-svip-level.level3-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_3.png); }

.ui-icon-svip-cardlevel.level3-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_c_3.png); }

.ui-icon-svip-year.level3-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_3.png); }

.ui-icon-svip-yearcardlevel.level3-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_c_3.png); }

.ui-icon-vip-level.level4-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_4.png); }

.ui-icon-vip-cardlevel.level4-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_c_4.png); }

.ui-icon-vip-yearcardlevel.level4-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_c_4.png); }

.ui-icon-vip-year.level4-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_4.png); }

.ui-icon-svip-level.level4-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_4.png); }

.ui-icon-svip-cardlevel.level4-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_c_4.png); }

.ui-icon-svip-year.level4-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_4.png); }

.ui-icon-svip-yearcardlevel.level4-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_c_4.png); }

.ui-icon-vip-level.level5-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_5.png); }

.ui-icon-vip-cardlevel.level5-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_c_5.png); }

.ui-icon-vip-yearcardlevel.level5-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_c_5.png); }

.ui-icon-vip-year.level5-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_5.png); }

.ui-icon-svip-level.level5-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_5.png); }

.ui-icon-svip-cardlevel.level5-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_c_5.png); }

.ui-icon-svip-year.level5-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_5.png); }

.ui-icon-svip-yearcardlevel.level5-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_c_5.png); }

.ui-icon-vip-level.level6-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_6.png); }

.ui-icon-vip-cardlevel.level6-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_c_6.png); }

.ui-icon-vip-yearcardlevel.level6-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_c_6.png); }

.ui-icon-vip-year.level6-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_6.png); }

.ui-icon-svip-level.level6-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_6.png); }

.ui-icon-svip-cardlevel.level6-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_c_6.png); }

.ui-icon-svip-year.level6-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_6.png); }

.ui-icon-svip-yearcardlevel.level6-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_c_6.png); }

.ui-icon-vip-level.level7-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_7.png); }

.ui-icon-vip-cardlevel.level7-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_c_7.png); }

.ui-icon-vip-yearcardlevel.level7-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_c_7.png); }

.ui-icon-vip-year.level7-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/vip_n_7.png); }

.ui-icon-svip-level.level7-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_7.png); }

.ui-icon-svip-cardlevel.level7-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_c_7.png); }

.ui-icon-svip-year.level7-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_7.png); }

.ui-icon-svip-yearcardlevel.level7-off:after {
  background-image: url(http://imgcache.gtimg.cn/vipstyle/mobile/global/mqqui/v2/img/vip/off/svip_n_c_7.png); }
