@import

    "../base/mixin",
    "../base/variable";

.ui-justify {
    text-align: justify;
    font-size: 0;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    li {
        display: inline-block;
        text-align: center;
    }
    p{
        font-size: $font-size-base;
    }
}

.ui-justify-flex {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
}

