@import

    "../base/mixin",
    "../base/variable";
.ui-placehold-wrap{
    padding-top: 31.25%;
    position: relative;
}
.ui-placehold{
    color: $txt-muted;
    position: absolute;
    top: 0;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-sizing: border-box;
    text-align: center;
    height: 100%;
    z-index: $z-index-placehold;
}

.ui-placehold-img{
    padding-top: 31.25%;
    @include placehold-img;
    img{
        width: 100%;
        height: 100%;
    }
}