@charset "UTF-8";
/**
 * 选项卡
 */
.ui-tab-nav {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: box;
  display: -webkit-box;
  font-size: 16px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.ui-tab-content {
  margin-top: 45px; }

.ui-tab-nav li {
  height: 45px;
  line-height: 45px;
  min-width: 70px;
  box-flex: 1;
  -webkit-box-flex: 1;
  text-align: center;
  color: #808080;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.ui-tab-nav li.current {
  color: #00a5e0;
  border-bottom: 2px #00a5e0 solid; }

.ui-tab-nav li:active {
  opacity: .8; }
