.ui-tips {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10; }

.ui-tips .ui-tips-cnt {
  margin: 0px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 40px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden; }

.ui-tips .ui-tips-cnt i {
  margin-right: 8px;
  margin-left: 0px; }

.ui-tips .ui-icon {
  font-size: 20px; }

.ui-tips-warn .ui-tips-cnt {
  background-color: rgba(255, 242, 183, 0.95);
  margin: 0;
  border-radius: none;
  color: #000;
  line-height: 45px;
  height: 45px;
  text-align: left;
  padding-left: 10px; }

.ui-tips-warn .ui-tips-cnt-cover:after {
  background: url(http://i.gtimg.cn/vipstyle/frozenui/1.0.0/img/icon.png?_bid=256) no-repeat -125px -50px;
  background-size: 200px auto;
  content: "";
  display: block;
  width: 8px;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px; }
